body {
  background-color: #f5f7fa;
}
.row > * {
  /* padding-right: 0.3rem; */
  /* padding-left: 0.3rem; */
}
/* .row > .col-lg-4,
.row > .col-8
{
    padding-right: 0.3rem;
  padding-left: 0.3rem;
} */

.custom-control-input:not(:checked) {
}
.custom-control-input:checked {
  background-color: green; /* Change the color of the toggle when it is checked */
  border-color: green; /* Change the border color of the toggle when it is checked */
}
.nav-second-level li a {
  font-size: 0.8rem !important;
}
/* .btn-group-sm>.btn, .btn-sm {
padding: 0.1rem 0.3rem !important;
} */
.btn-group-sm > .btn,
.btn-sm {
  padding: 0rem 0rem !important;
  /* font-size: unset; */
  height: 25px;
  width: 25px;
}
.table > :not(caption) > * > * {
  padding: 0.4rem 0.8rem;
  background-color: var(--ct-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--ct-table-accent-bg);
  white-space: normal;
  line-height: normal;
  vertical-align: middle;
}
#responsive-datatable,
#datatable,
.table {
  font-size: 12px;
}
.add-btn {
  padding: 0.3rem 0.8rem 0.3rem 0.3rem !important;
  font-size: 0.8rem;
}
.btn-label {
  margin: -0.55rem 0.9rem -0.55rem -0.9rem;
  padding: 0.6rem 0.9rem;
  background-color: rgba(50, 58, 70, 0.1);
}
/* .fa-plus, .fa-long-arrow-alt-left , .fa-info-circle{
padding-left: 10px !important;
} */
.fas {
  padding-left: 10px !important;
}
.department-card {
  /* min-height: 400px; */
  min-height: calc(100vh - 190px);
}
#sidebar-menu > ul > li > a {
  padding: 10px 20px !important;
}
.btn-success,
.btn-danger,
.btn-primary,
.btn-secondary,
.btn-warning {
  padding: 3px 8px;
}
.btn-warning {
  color: #fff;
  background-color: #f9c851;
  border-color: #f9c851;
}
.btn-warning:hover {
  color: #fff;
  background-color: #f5ba30;
  border-color: #ddad3d;
}
.btn-outline-warning:hover {
  color: #fff;
  background-color: #f5ba30;
  border-color: #ddad3d;
}

/* tbody tr td:first-child
{
text-align: center;
} */
.tabledit-view-button,
.tabledit-edit-button,
.tabledit-delete-button {
  height: 25px;
  width: 25px;
  padding: 2px 5px;
}
label span {
  font-weight: 100;
}
td input[type="text"] {
  width: 100%;
}
.add-stock tbody tr td {
  padding-bottom: 10px;
}
.add-new-btn {
  margin-top: 25px;
}
.plus-btn,
.close-btn {
  padding: 0px 5px;
}
.plus-btn i,
.close-btn i {
  font-size: 20px;
}
.inbox-widget {
  border-radius: 5px;
  padding: inherit;
  margin: 17px 0px;
  background: #71b6f926;
}
.left-side-view {
  background: aliceblue;
  border-radius: 5px;
  padding: 9px 15px;
  font-size: 12px;
}
.inbox-widget .inbox-item .inbox-item-img img {
  width: 50px;
}
.inbox-widget .inbox-item .inbox-item-author {
  display: block;
  margin-bottom: 3px;
  padding-top: 6px;
}
.inbox-widget .inbox-item .inbox-item-img {
  display: block;
  float: left;
  margin-right: 15px;
  width: unset;
}
.card-header {
  padding: 0.8rem 1rem;
}
.status-cards .card-body {
  /* background: #ffe4c466; */
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 12px;
}
.status-cards .card-body p {
  margin-bottom: 0;
}
td {
  vertical-align: baseline;
}
.inbox-widget .inbox-item {
  border-bottom: 1px solid rgba(222, 226, 230, 0.5);
  overflow: hidden;
  padding: 0rem 0;
  position: relative;
}
.vendor-view-top-card,
.vendor-view-bottom-card {
  background: beige;
  padding: 15px;
  border-radius: 5px;
}
.vendor-view-bottom-card {
  background: #bbc7dd45;
}
.view-vendor-document {
  padding: 15px;
}
.dropify-wrapper .dropify-message span.file-icon {
  font-size: 18px !important;
  color: #ccc !important;
}
.form-check {
  min-height: unset;
  margin-bottom: 0.125rem;
}
.form-check input {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: end;
}
.dataTables_length .form-label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.dataTables_filter label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dataTables_length .form-label select {
  width: auto;
}
.dataTables_wrapper .dataTables_filter input {
  width: auto;
}
table tbody tr td:nth-child(1) {
  /* text-align: center; */
}
.item-code-select {
  width: auto;
}
.pending-requisition-table,
.rejected-requisition-table,
.completed-requisition-table {
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.attendance-table .status {
  /* color: #10c469!important; */
  padding: 3px 8px;
  background: #4980801f;
  border-radius: 5px;
}
.attendance-card .attendance-note {
  margin: 9px 0;
}
.support-ticket-card span {
  font-size: 12px;
}
.form-check.form-switch {
  display: flex;
  justify-content: center;
}
.content {
  padding-top: 15px;
}
/* .dataTables_wrapper .col-sm-12
{
  overflow-x:overlay;
} */
.dataTables_wrapper .col-sm-12 {
  overflow-x: auto;
}
.form-label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.75rem;
}
.form-control,
.form-select {
  font-size: 0.8125rem;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  border-radius: 0.5rem;
}
.header-title {
  margin-bottom: 0rem !important;
}
.dataTables_info {
  font-size: 0.75rem;
}
.dashboard-cards i {
  font-size: 60px;
  color: #10c469;
}
.dashboard-cards .card-body {
  transition: 0.3s ease-in;
}
.dashboard-cards .card-body:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.filter-card {
  min-height: auto;
}
.filter-card .row {
  align-items: center;
}
.filter-card-main {
  margin-bottom: 0.5rem;
}
.export-btn {
  background: #0e8d4d;
}
.status-cards .support-ticket-card {
  /* background: #ffe4c466; */
}
.card,
.vendor-view-bottom-card {
  font-size: 12px;
  border-top: 3px solid #79b9f73d;
  border-radius: 0.5rem;
}
.fas.fa-filter {
  padding-left: 0 !important;
}
.i-button .fas {
  cursor: pointer;
  padding-left: 0px !important;
}
#sidebar-menu .menuitem-active .active {
  color: var(--ct-menu-item-active);
  /* background: content-box; */
  background-color: aliceblue;
  border-radius: 15px;
}
table.dataTable > thead > tr > th:not(.sorting_disabled),
table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 4px;
  padding-left: 6px;
}
.chart-detail-list .list-inline-item i {
  font-size: 10px;
}
.morris-chart tspan {
  font-size: 7px !important;
}
.morris-donut-example svg text tspan {
  font-size: 10px !important;
}
.status-cards .badge {
  font-size: 12px;
}
.status-cards .status-card-footer .btn-primary,
.status-cards .status-card-footer .btn-danger {
  padding: 2px 8px;
}
.status-cards .badge .fas {
  padding-left: 0px !important;
}
.status-cards .card-body .status-card-top {
  position: absolute;
  right: 10px;
  top: 10px;
}
.status-cards table td .fw-semi-bold {
  width: 80%;
}
.table-bordered tbody td:first-child {
  text-align: center;
}
.status-cards .dataTables_wrapper {
  background: #79baf91f;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
.form-label {
  margin-bottom: 0.2rem;
  font-weight: 500;
  font-size: 0.75rem;
}
.form-control {
  padding: 0.25rem 0.5rem;
}
.form-select {
  padding: 0.25rem 2.7rem 0.25rem 0.9rem;
  color: #212529;
}
.footer {
  padding: 10px 10px 10px;
}
.content-page {
  padding: 0 12px 30px 12px;
}
input[type="date"] {
  cursor: pointer;
}
input[type="date" i],
input[type="time" i] {
  cursor: pointer !important;
}
input i {
  cursor: pointer;
}
.dropify-wrapper {
  height: 170px !important;
}
.no-pad-right {
  padding-right: 0;
}
.add-ticket-image-upload {
  margin: 0 auto;
}
.gal-detail a img {
  width: 100%;
  height: 200px;
}
.status-cards {
  margin-bottom: 0.5rem;
}
.table-image {
  height: 50px;
}

.btn-table-view {
  background-color: #00b7ff !important;
  color: white !important;
  padding: 1px 5px !important;
  margin: 3px !important;
  border-radius: 5px !important;
  align-items: center;
  justify-content: center;
  height: 23px;
  width: 23px;
  font-size: 12px !important;
}

.remove-icon {
  position: absolute;
  top: 4px;
  right: 3px;
  color: red;
  background: transparent;
  border-radius: 50%;
  padding: 0px 3px;
  cursor: pointer;
  font-size: 14px;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin: 10px 0;
}

.th-bg {
  background-color: #79b9f73d;
  padding: 3px 12px;
  font-weight: bold;
}

.i-text {
  margin: 10px 0px;
  display: flex;
  font-size: 14px;
}

.i-text .fa {
  line-height: 1.4;
  width: 20px;
  height: 20px;
  background: #79b9f73d;
  text-align: center;
  border-radius: 50%;
  color: black;
  padding: 4px 0px;
  font-size: 8px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 1px 7px rgb(0 0 0 / 11%);
  margin-right: 7px;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
  font-size: 14px;
}

.float-right {
  float: right;
}

.c-strip {
  width: 150px;
  /* background: #f9c851 !important; */
}
.basic-strip {
  width: auto;
  /* background: #17a2b8; */
  color: white;
  padding: 5px 7px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  font-size: 14px;
  text-align: center;
  position: relative;
  left: -17px;
}

.c-strip::before {
  /* border-color: transparent #f9c851 #f9c851 transparent !important; */
}

.basic-strip::before {
  content: "";
  position: absolute;
  border-width: 4px;
  border-style: solid;
  /* border-color: transparent #17a2b8 #17a2b8 transparent; */
  left: 0px;
  top: -8px;
}

.pending-bg {
  background: #f9c851 !important;
}
.pending-bg::before {
  border-color: transparent #f9c851 #f9c851 transparent !important;
}

.confirmed-bg {
  background: green !important;
}

.confirmed-bg::before {
  border-color: transparent green green transparent !important;
}

.inprocess-bg {
  background: #35b8e0 !important;
}

.inprocess-bg::before {
  border-color: transparent #35b8e0 #35b8e0 transparent !important;
}

.delievered-bg {
  background: green !important;
}

.delievered-bg::before {
  border-color: transparent green green transparent !important;
}

.cancelled-bg {
  background: #ff5b5b !important;
}

.cancelled-bg::before {
  border-color: transparent #ff5b5b #ff5b5b transparent !important;
}

.print-btn {
  float: right;
  margin: 10px 0;
}

.btn-print {
  padding: 4px 20px;
}

.usertable > tbody > tr > th {
  vertical-align: top !important;
}

.image-uploader {
  /* max-width: 400px; */
  margin: 0px 0px 10px 0px;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 15px;
}

.preview-box {
  position: relative;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.remove-icon {
  position: absolute;
  top: -8px;
  right: 0px;
  font-size: 30px;
  /* background-color: #fff; */
  color: #d00;
  border-radius: 50%;
  /* padding: 2px; */
  cursor: pointer;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
}
